@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}
.hcolor{
   color: #15161a;
}
.ts{
  text-shadow: 1px 1px rgb(42, 42, 228);
}

.bb{
  border-radius: 5px;
  border: 1px solid rgb(142, 180, 5);
  font-size: large;
  box-shadow: 1px 1px 1px rgb(12, 2, 104);
  text-transform: capitalize;
  text-decoration: wavy;
}
.b-r{
  border-radius: 2px;
}